pipeline/pl_create_silver_trip_data_green.json
{
	"name": "pl_create_silver_trip_data_green",
	"properties": {
		"activities": [
			{
				"name": "Get year month",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serveless_sql_pool",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT distinct t.year,t.month from bronze.vw_trip_data_green_csv t"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "create silver trip data partition",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get year month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get year month').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "usp_silver_green_data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete partition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[silver].[usp_silver_trip_data_green]",
								"storedProcedureParameters": {
									"month": {
										"value": {
											"value": "@item().month",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().year",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serveless_sql_pool",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete partition",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "silver/trip_data_green/year=@{item().year}/month=@{item().month}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "create silver trip_data _green view",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "create silver trip data partition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serveless_sql_pool",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "DROP VIEW if EXISTS silver.vw_trip_data_green\n"
						},
						{
							"type": "Query",
							"text": "CREATE view silver.vw_trip_data_green\nas \nSELECT\n    result.filepath(1) as year,\n    result.filepath(2) as month, \n    result.*\nFROM\n    OPENROWSET(\n    BULK  'silver/trip_data_green/year=*/month=*/*.parquet',\n    DATA_SOURCE = 'nyc_taxi_src',  \n    FORMAT = 'parquet'\n    ) \n    with \n    (\n        VendorID INT,lpep_pickup_datetime DATETIME2(7),lpep_dropoff_datetime DATETIME2(7),\n    store_and_fwd_flag CHAR(1),RatecodeID INT,PULocationID SMALLINT,DOLocationID SMALLINT,\n    passenger_count INT,trip_distance FLOAT,fare_amount FLOAT,extra FLOAT ,mta_tax Float,\n    tip_amount Float,tolls_amount Float,ehail_fee Float,improvement_surcharge Float,total_amount Float,\n    payment_type SMALLINT,trip_type SMALLINT,congestion_surcharge Float\n    )\n    AS [result]\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": []
	}
}