pipeline/pl_create_silver_tables.json
{
	"name": "pl_create_silver_tables",
	"properties": {
		"activities": [
			{
				"name": "ForEach folder path",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_folder_path_usp_name')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Delete silver folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "usp_silver_table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete silver folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serveless_sql_pool",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_folder_path_usp_name": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/taxi_zone",
						"usp_name": "silver.usp_silver_taxi_zone"
					},
					{
						"folder_path": "silver/calendar",
						"usp_name": "silver.usp_silver_calendar"
					},
					{
						"folder_path": "silver/trip_type",
						"usp_name": "silver.usp_silver_trip_type"
					},
					{
						"folder_path": "silver/vendor",
						"usp_name": "silver.usp_silver_vendor"
					}
				]
			}
		},
		"annotations": []
	}
}